{% extends "base.twig" %}

{% block content %}
    <!-- START: template provided by views/404.twig  -->
    <section class="section section--404">
        <h1 class="section__title">{{ __('Uh-Oh...Page not found!', 'gesso') }}</h1>
        <a class="section__link" href="{{site.url}}">{{ __('Return to Homepage','gesso') }}</a>
    </section>
    <!-- END: template provided by views/404.twig  -->
{% endblock %}
