{% extends "base.twig" %}

{% block content %}

    <!-- START: template provided by views/tag.twig  -->

    <section class="section section--tag-archive">
        <h2 class="section__title">
            {{ __('Tag Archive: ' , 'gesso') }}
            {{ wp_title }}</h2>

        <div class="section__results-loop">
            {% for post in posts %}
                <div class="section__result">
                    <a href="{{post.link}}">{{post.title}}</a>
                </div>
            {% endfor %}
        </div>

        {% include 'templates/pagination.twig' %}
    </section>

    <!-- END: template provided by views/tag.twig  -->

{% endblock %}
